/* ナビゲーションのレイアウト */
.navi {
    display: flex;
    justify-content: space-around;
}

.navi button {
    flex-grow: 1;
    margin: 0 10px 10px 0;
}

/* 入力欄のレイアウト */
#inputSection {
    display: flex;
    justify-content: space-around;
}
#inputSection div {
    flex-grow: 1;
    margin: 0 10px 10px 0;
}

/* 登録ボタンのスタイル */
.submit {
    display: block;
    text-align: center;
}
.submit button {
    width: 120px;
    height: 40px;
}

/* 見出しのスタイル */
h2 {
    padding-bottom: 5px;
    border-bottom: #008b6a solid 2px;
}

/* 入出金一覧をスクロール */
#list {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

/* フッターのレイアウト */
footer {
    margin: 50px auto 20px auto;
    text-align: center;
}
